.budget-page {
    background-color: var(--secondary);
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    gap: 1.5rem;
    max-height: 90%;
    min-height: 100%;
}

.input-balance-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.budget-list {
    width: 60%;
    display: grid;
    grid-template-rows: 15% 76% 9%;
    grid-template-columns: 60% 28% 12%;
}

.budget-list-labels {
    width: 100%;
    height: auto;
    align-items: center;
    padding: 0 2.5rem;
    border-bottom: 3px solid var(--secondary);
    grid-column-start: 1;
    grid-column-end: 4;

    display: grid;
    grid-template-columns: 60% 28% 12%;
}

.all-items-container {
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    border-bottom: 3px solid var(--secondary);
    grid-column-start: 1;
    grid-column-end: 4;
}

.budget-container {
    width: 100%;
    height: auto;
    padding: 0 2.5rem;

    display: grid;
    grid-template-columns: 60% 28% 12%;
}


.item-date {
    font-size: 0.6rem;
    opacity: 0.5;
    display: block;
}

.form-container {
    display: grid;
    grid-template-rows: 25% 25% 20% 30%;
}

.budget-info {
    height: 55%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
}

.budget-name-container, .budget-amount-container {
    display: grid;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    margin: 0.5rem 0;
}

.budget-name, .budget-amount {
    font-size: 1rem;
    background-color: var(--white);
    color: black;
    appearance: none;
    padding: 0.4rem 1rem;

    outline: var(--highlight);
    border: 3px solid var(--highlight);
    border-radius: 15px;
}

.budget-type-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.budget-income-label {
    margin-left: 2.5rem;
}

.expense-radio, .income-radio {
    cursor: pointer;
}

.budget-submit-btn {
    width: 100%;
}

.budget-submit-btn:hover {
    color: var(--highlight);
    border: 1px solid var(--highlight);
}

.budget-balance {
    height: 45%;
    width: 100%;
    display: grid;
    grid-template-rows: 50% 50%;
}

.budget-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
    right: 0.5rem;
}

.budget-balance-total, .proj-balance-total {
    background-color: var(--highlight);
    color: var(--primary);
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    height: 40%;
    font-size: 2rem;
    color: black;
    appearance: none;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    outline: var(--highlight);
    border: 3px solid var(--highlight);
    border-radius: 15px;
}

.budget-balance-info, .projected-balance {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 0 1.5rem;
    gap: 1rem;
}

.budget-balance-label {
    margin-top: 1rem;
}

.budget-balance-label, .proj-balance-label {
    font-size: 1.5rem;
}

.total-amount-container {
    display: grid;
    height: 100%;
    padding: 0 2.5rem;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-template-columns: 60% 28% 12%;
    align-items: center;
}

.budget-notif {
    color: black;
    width: 100%;
    height: 10%;
}

.error {
    color: red;
}

.notif-btn-container > .notif {
    height: 30%;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.notif-btn-container {
    height: 100%;
    display: block;
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 0 1rem;
}



