.error-page-container {
  height: 100vh;
  width: 100vw;
  font-family: var(--font-secondary);
  color: var(--white);

  display: grid;
  place-content: center;
  border: 10px solid red;
}

.message-container {
  height: 50vh;
  width: 50vw;
  border-radius: 25px;
  border: 1px solid var(--white);

  display: grid;
  place-content: center;
  text-align: center;
  align-items: center;
  grid-template-rows: 70% 30%;
}

.go-back {
  width: 50%;
  margin: auto;
}