@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Coda+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;800&family=Coda+Caption&display=swap');

:root {
  --header-font: 'Cinzel', cursive;
}

.home {
  height: 100vh;
  width: 80vw;
  background-color: inherit;
  font-family: var(--header-font);
  margin: auto;
  color: var(--primary);

  display: flex;
  flex-direction: column;
}

.home-footer {
  background-color: rgb(12, 11, 19);
  height: 30vh;
  width: 80vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-ft, .second-ft, .third-ft {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7%;
}

.first-ft, .second-ft {
  border-right: 1px solid gray;
}


