.transfer-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-gap: 10px;
  height: 97.5%;
}

.transfer-container > .search-customer-container {
  grid-column: span 2;
  grid-row: span 1;
  height: 100%;
  width: 100%;
  padding: 10px;

  display: grid;
  grid-template-rows: 10% 1fr;
  border-radius: 15px;
  border: 1px solid var(--highlight);
}

.customer-type {
  height: 100%;
  width: 100%;
  font-size: 24px;
  display: grid;
  place-items: center;
}

.transfer-container > * .customer-info {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-gap: 5px;
  place-items: center;
}

.transfer-container > * .search-input {
  grid-column: 1 / 2;
  min-height: 90%;
  min-width: 90%;
}

  .transfer-container > * .search-label {
    width: 80%;
    font-size: 16px;
    text-align: center;
  }

  .transfer-container > * .account-number {
    width: 80%;
    font-size: 24px;
  }

.transfer-container > * .user-info-container {
  grid-column: 2 / 3;
  min-height: 90%;
  min-width: 100%;
  padding: 20px 10px;
  margin: 0;
  font-size: 12px;
  grid-gap: 25px 5px;
}

.transfer-panel {
  height: 100%;
  padding: 10px 15px 5px 15px;

  display: grid;
  grid-template-rows: 20% 20% 25% 15% 10%;
}

  .transfer-panel > .balance-info{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
  }

    .transfer-panel > * .balance-text {
      height: max-content;
      margin: 0;
    }

  .transfer-panel > .amount-container {
    margin-top: 10px;
    padding: 0;
    gap: 10px;
  }

    .transfer-panel > * .amount-text {
      margin: 0;
      padding: 0;
    }