.hero {
  height: 70%;
  justify-content: center;

  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 25% 10% 15% 30%;
  border: 1px solid var(--highlight);
  border-radius: 15px;
  margin-top: 2%;
}

.hero .title, .hero .subtitle, .hero-text-block {
  padding-left: 5%;
}

.hero .title {
  grid-row: 2 / 3;
  font-size: 55px;
  font-weight: 700;
  color: var(--white);
}

.hero .subtitle {
  grid-row: 3 / 4;
  color: var(--white);
}

.hero-text-block {
  width: 70%;
  grid-row: 4 / 5;
  font-family: var(--font-secondary);
  font-size: 14px;
  color: var(--white);
}

.login-form-container {
  grid-column: 2 / 3;
  grid-row: 2 / 5;
}

@media screen and (max-width: 1300px) {
  .hero {
    height: 70%;
    justify-content: center;
  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 30% 15% 30%;
    border: 1px solid var(--highlight);
    border-radius: 15px;
  }
}