* {
  box-sizing: border-box;
}
label {
  color: var(--white);
}

.login-form-container {
  height: 100%;
  width: max-content;
  padding: 40px;
  border: 1px solid var(--white);
  border-radius: 10px;

  display: grid;
  grid-template-columns: 40% 60%;
  text-align: left;
  justify-content: center;
  align-items: center;
  grid-gap: 2%;
}

.username, .password {
  font-size: 16px;
}

.login-form-container input {
  font-family: var(--font-secondary);
  color: var(--primary);
  background-color: var(--white);
  padding-left: 5%;
  border-radius: 5px;
}

.login-form-container .notif {
  height: max-content;
  padding: 5px;
  grid-column: span 2;
  font-size: 12px;
  font-weight: 700;
}

.login-form {
  width: 320px;
  text-align: center;

  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 15px;
}

.error-msg, .login-btn {
  grid-column: span 2;
}

.error-msg {
  color: red;
  font-size: 12px;
  font-weight: 700;
}