.sidebar-container {
  background-color: var(--secondary);
  height: 95%;
  width: 100%;
  padding: 15px 10px;
  margin: auto 40px;

  display: grid;
  grid-template-rows: 20% 70% 10%;
  grid-gap: 5px;
  border-radius: 16px;
}
