.tab {
  color: var(--white);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  color: var(--white);

  display: grid;
  grid-template-columns: 20% 80%;
  text-align: left;
  justify-content: center;
  align-items: center;

}

.tab:hover {
  color: var(--highlight);
  border: 1px solid var(--highlight);
}

i {
  font-size: 25px;
  text-align: center;
}

.logout-btn {
  height: 85%;
  width: 100%;
}

.active {
  background-color: var(--third);
  color: var(--highlight);
  border: 1px solid var(--highlight);
}