.tab {
  height: 100%;
  width: 100%;
  border-radius: 10px;

  display: grid;
  grid-template-columns: 30% 70%;
  text-align: left;
  justify-content: center;
  align-items: center;
  grid-gap: 5px;

  border: 1px solid white;
}

i {
  font-size: 25px;
  text-align: center;
}

.logout-btn {
  height: 85%;
  width: 100%;
}