@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Coda+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;800&family=Coda+Caption&display=swap');

html {
  --header-font: 'Cinzel', cursive;
}

.main {
  height: 15vh;
  padding: 10px;
  color: var(--white);

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 10px;
  align-items: center;
}

.abbr {
  font-size: 50px;
  font-weight: 900;
  font-family: var(--header-font);
}

button {
  height: max-content;
  padding: 10px;
  color: var(--white);;
  background-color: inherit;
  border-radius: 15px;
  border: 1px solid var(--white);;
}

.btn-load-data {
  grid-column: 9 / 10;
}