.workspace {
  height: 95%;
  width: 95%;
  margin: auto;
  padding: 25px;

  display: grid;
  grid-template-rows: 10% 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}
.workspace-title {
  grid-column: span 2;
  font-size: 60px;
  font-weight: 700;
  background-color: var(--yellow);
  color: var(--white);
  text-align: start;
  border-radius: 5px;
}

.panel {
  height: 100%;
  width: 100%;
  padding: 20px 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 1fr 10% 10%;
  grid-gap: 10px;
}

.search-input, .balance-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
}

.account-number, .balance-value, .amount{
  width: 100%;
  height: 100%;
  font-size: 40px;
  background-color: var(--white);
  color: var(--black);
  appearance: none;
  text-align: center;
  padding: 0 10px;

  outline: var(--yellow);
  border: 3px solid var(--yellow);
  border-radius: 15px;
}

.amount-container, .withdraw-amount-container {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.amount {
  height: max-content;
}

.balance-value {
  background-color: var(--yellow);
  color: var(--black);
}

.account-number::-webkit-calendar-picker-indicator {
  display:none !important;
}