@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Coda+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;800&family=Coda+Caption&display=swap');
:root {
  --black: rgb(55, 55, 55);
  --yellow-backup: rgb(154, 151, 96);
  --yellow: rgb(174, 171, 96);
  --white: rgb(249, 246, 238);
}

html {
  --header-font: 'Cinzel', cursive;
}

body {
  background-color: var(--black);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

*:disabled {
  cursor: not-allowed !important;
  border-color: gray !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.glass {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.notif {
  background-color: var(--white);
  padding: 10px;
  border-radius: 15px;
}
.error {
  color: red;
}

.success {
  color: green;
}

.hidden {
  visibility: hidden;
}